<a href="https://colab.research.google.com/github/GuilhermeRuy97/BootcampDataScience/blob/main/modulo_3_bootcamp_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Análise descritiva e testes estatísticos

# AULA 01 MOD 03
-Educação, saúde e tipos de dados

In [3]:
#Para abrir pelo drive, basta clicar em "conectar drive" e passar o caminho do arquivo
#Porém, o arquivo está zipado, então usamos a biblioteca zipfile

import pandas as pd
from zipfile import ZipFile

caminho = "/content/drive/MyDrive/cursos/bootcampDSalura/dados modulo 3/PeNSE_2015_AMOSTRA2.zip"
zip = ZipFile(caminho)

#Para saber os nomes dos arquivos
#zip.namelist()

zip.namelist()[1]

caminho_pasta_zipada = zip.namelist()[1]

#Precisamos passar o que abrir dentro do arquivo
dados = pd.read_csv(zip.open(caminho_pasta_zipada), sep = ";")
dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

In [5]:
dados.shape

(16556, 181)

In [6]:
dados.columns

Index(['ANOPESQ', 'PAIS', 'REGEOGR', 'VB00004', 'VB01001', 'VB01002',
       'VB01003', 'VB01004', 'VB01005', 'VB01006',
       ...
       'ESTRATO_EXP', 'ESTRATOGEOREG', 'PESO', 'V0006', 'V0007', 'V0008',
       'V0041', 'aluno', 'escola', 'turma'],
      dtype='object', length=181)

In [7]:
dados.info

<bound method DataFrame.info of        ANOPESQ  PAIS  REGEOGR  VB00004  ...  V0041  aluno  escola  turma
0         2015    76        1        1  ...      1      1       1    296
1         2015    76        1        1  ...      1      2       1    296
2         2015    76        1        1  ...      1      3       1    296
3         2015    76        1        1  ...      1      4       1    296
4         2015    76        1        1  ...      1      5       1    296
...        ...   ...      ...      ...  ...    ...    ...     ...    ...
16551     2015    76        5        1  ...      1  16552     371    117
16552     2015    76        5        1  ...      1  16553     371    117
16553     2015    76        5        1  ...      1  16554     371    117
16554     2015    76        5        1  ...      1  16555     371    117
16555     2015    76        5        1  ...      1  16556     371    117

[16556 rows x 181 columns]>

In [8]:
zip.namelist()

['arquivos csv/',
 'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV',
 'arquivos sas/',
 'arquivos sas/pense_amostra2_aluno.sas7bdat',
 'arquivos sas/pense_amostra2_alunoescola.sas7bdat',
 'arquivos sas/pense_amostra2_escola.sas7bdat',
 'arquivos xlsx/',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx',
 'Dicionario_PENSE_Microdados_AMOSTRA2.xls']

In [9]:
#Selecionando um tipo de dado

dados.select_dtypes(include="object")

      VB17003 VB17004        PESO
0        37,1     157  299,735235
1        50,2     152  355,170081
2        48,2   161,4  299,735235
3        69,4   172,5  355,170081
4        78,9   167,5  299,735235
...       ...     ...         ...
16551    56,7   167,9  447,815539
16552    61,9   185,8   592,50744
16553    60,9   159,4  401,131512
16554    47,3   157,8  442,718091
16555    62,6   163,9   592,50744

[16556 rows x 3 columns]

In [4]:
#Selecionando um tipo de dado

dados.select_dtypes(include="float64")

       TEMPODESLOC  TEMPOTOTAL  TEMPOEDFIS  ...  TEMPOEST  VB17001  VB17002
0              0.0        15.0         0.0  ...      60.0    371.0   1570.0
1            120.0       510.0       260.0  ...     300.0    502.0   1520.0
2              0.0       585.0       130.0  ...     420.0    482.0   1614.0
3              0.0         0.0         0.0  ...       0.0    694.0   1725.0
4             30.0       165.0        90.0  ...      60.0    789.0   1675.0
...            ...         ...         ...  ...       ...      ...      ...
16551         30.0       400.0       110.0  ...     240.0    567.0   1679.0
16552         20.0       800.0       325.0  ...     240.0    619.0   1858.0
16553          0.0         0.0         0.0  ...      60.0    609.0   1594.0
16554         75.0       215.0        35.0  ...     120.0    473.0   1578.0
16555         50.0       485.0       110.0  ...     360.0    626.0   1639.0

[16556 rows x 7 columns]