<a href="https://colab.research.google.com/github/GuilhermeRuy97/BootcampDataScience/blob/main/modulo_3_bootcamp_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Análise descritiva e testes estatísticos

# AULA 01 MOD 03
-Educação, saúde e tipos de dados

In [12]:
#Para abrir pelo drive, basta clicar em "conectar drive" e passar o caminho do arquivo
#Porém, o arquivo está zipado, então usamos a biblioteca zipfile

import pandas as pd
from zipfile import ZipFile

caminho = "/content/drive/MyDrive/cursos/bootcampDSalura/dados modulo 3/PeNSE_2015_AMOSTRA2.zip"
zip = ZipFile(caminho)

#Para saber os nomes dos arquivos
#zip.namelist()

zip.namelist()[1]

caminho_pasta_zipada = zip.namelist()[1]

#Precisamos passar o que abrir dentro do arquivo
dados = pd.read_csv(zip.open(caminho_pasta_zipada), sep = ";", thousands = ".", decimal = ",")
dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

In [13]:
#Procurando número de linhas e de colunas

dados.shape

(16556, 181)

In [14]:
#Consultar quais colunas temos
#É necessário ler o dicionário de dados para entender as nomeclaturas das colunas como VB00001
#O dicionário fica dentro da pasta zipada neste caso

dados.columns

Index(['ANOPESQ', 'PAIS', 'REGEOGR', 'VB00004', 'VB01001', 'VB01002',
       'VB01003', 'VB01004', 'VB01005', 'VB01006',
       ...
       'ESTRATO_EXP', 'ESTRATOGEOREG', 'PESO', 'V0006', 'V0007', 'V0008',
       'V0041', 'aluno', 'escola', 'turma'],
      dtype='object', length=181)

In [15]:
#Quais são os tipos de dados associados à base de dados

dados.info

<bound method DataFrame.info of        ANOPESQ  PAIS  REGEOGR  VB00004  ...  V0041  aluno  escola  turma
0         2015    76        1        1  ...      1      1       1    296
1         2015    76        1        1  ...      1      2       1    296
2         2015    76        1        1  ...      1      3       1    296
3         2015    76        1        1  ...      1      4       1    296
4         2015    76        1        1  ...      1      5       1    296
...        ...   ...      ...      ...  ...    ...    ...     ...    ...
16551     2015    76        5        1  ...      1  16552     371    117
16552     2015    76        5        1  ...      1  16553     371    117
16553     2015    76        5        1  ...      1  16554     371    117
16554     2015    76        5        1  ...      1  16555     371    117
16555     2015    76        5        1  ...      1  16556     371    117

[16556 rows x 181 columns]>

In [8]:
zip.namelist()

#Repare no "Dicionario_PENSE_Microdados_AMOSTRA2.xls"

['arquivos csv/',
 'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV',
 'arquivos sas/',
 'arquivos sas/pense_amostra2_aluno.sas7bdat',
 'arquivos sas/pense_amostra2_alunoescola.sas7bdat',
 'arquivos sas/pense_amostra2_escola.sas7bdat',
 'arquivos xlsx/',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx',
 'Dicionario_PENSE_Microdados_AMOSTRA2.xls']

In [16]:
#Selecionando um tipo de dado

dados.select_dtypes(include="object")

#Repare que não há um tipo object

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[16556 rows x 0 columns]

In [17]:
#Selecionando um tipo de dado

dados.select_dtypes(include="float64")

       TEMPODESLOC  TEMPOTOTAL  TEMPOEDFIS  ...  VB17003  VB17004        PESO
0              0.0        15.0         0.0  ...     37.1    157.0  299.735235
1            120.0       510.0       260.0  ...     50.2    152.0  355.170081
2              0.0       585.0       130.0  ...     48.2    161.4  299.735235
3              0.0         0.0         0.0  ...     69.4    172.5  355.170081
4             30.0       165.0        90.0  ...     78.9    167.5  299.735235
...            ...         ...         ...  ...      ...      ...         ...
16551         30.0       400.0       110.0  ...     56.7    167.9  447.815539
16552         20.0       800.0       325.0  ...     61.9    185.8  592.507440
16553          0.0         0.0         0.0  ...     60.9    159.4  401.131512
16554         75.0       215.0        35.0  ...     47.3    157.8  442.718091
16555         50.0       485.0       110.0  ...     62.6    163.9  592.507440

[16556 rows x 10 columns]

In [18]:
#Selecionando um tipo de dado

dados.select_dtypes(include="integer")

#Repare que são a maioria

       ANOPESQ  PAIS  REGEOGR  VB00004  ...  V0041  aluno  escola  turma
0         2015    76        1        1  ...      1      1       1    296
1         2015    76        1        1  ...      1      2       1    296
2         2015    76        1        1  ...      1      3       1    296
3         2015    76        1        1  ...      1      4       1    296
4         2015    76        1        1  ...      1      5       1    296
...        ...   ...      ...      ...  ...    ...    ...     ...    ...
16551     2015    76        5        1  ...      1  16552     371    117
16552     2015    76        5        1  ...      1  16553     371    117
16553     2015    76        5        1  ...      1  16554     371    117
16554     2015    76        5        1  ...      1  16555     371    117
16555     2015    76        5        1  ...      1  16556     371    117

[16556 rows x 171 columns]

# AULA 02 MOD 03
-Dados qualitativos e tabelas de frequência