<a href="https://colab.research.google.com/github/GuilhermeRuy97/BootcampDataScience/blob/main/modulo_3_bootcamp_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Análise descritiva e testes estatísticos

# AULA 01 MOD 03
-Educação, saúde e tipos de dados

In [20]:
#Para abrir pelo drive, basta clicar em "conectar drive" e passar o caminho do arquivo
#Porém, o arquivo está zipado, então usamos a biblioteca zipfile

import pandas as pd
from zipfile import ZipFile

caminho = "/content/drive/MyDrive/cursos/bootcampDSalura/dados modulo 3/PeNSE_2015_AMOSTRA2.zip"
zip = ZipFile(caminho)

#Para saber os nomes dos arquivos
#zip.namelist()

zip.namelist()[1]

caminho_pasta_zipada = zip.namelist()[1]

#Precisamos passar o que abrir dentro do arquivo
dados = pd.read_csv(zip.open(caminho_pasta_zipada), sep = ";", thousands = ".", decimal = ",")
dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

In [21]:
#Procurando número de linhas e de colunas

dados.shape

(16556, 181)

In [22]:
#Consultar quais colunas temos
#É necessário ler o dicionário de dados para entender as nomeclaturas das colunas como VB00001
#O dicionário fica dentro da pasta zipada neste caso

dados.columns

Index(['ANOPESQ', 'PAIS', 'REGEOGR', 'VB00004', 'VB01001', 'VB01002',
       'VB01003', 'VB01004', 'VB01005', 'VB01006',
       ...
       'ESTRATO_EXP', 'ESTRATOGEOREG', 'PESO', 'V0006', 'V0007', 'V0008',
       'V0041', 'aluno', 'escola', 'turma'],
      dtype='object', length=181)

In [23]:
#Quais são os tipos de dados associados à base de dados

dados.info

<bound method DataFrame.info of        ANOPESQ  PAIS  REGEOGR  VB00004  ...  V0041  aluno  escola  turma
0         2015    76        1        1  ...      1      1       1    296
1         2015    76        1        1  ...      1      2       1    296
2         2015    76        1        1  ...      1      3       1    296
3         2015    76        1        1  ...      1      4       1    296
4         2015    76        1        1  ...      1      5       1    296
...        ...   ...      ...      ...  ...    ...    ...     ...    ...
16551     2015    76        5        1  ...      1  16552     371    117
16552     2015    76        5        1  ...      1  16553     371    117
16553     2015    76        5        1  ...      1  16554     371    117
16554     2015    76        5        1  ...      1  16555     371    117
16555     2015    76        5        1  ...      1  16556     371    117

[16556 rows x 181 columns]>

In [24]:
zip.namelist()

#Repare no "Dicionario_PENSE_Microdados_AMOSTRA2.xls"

['arquivos csv/',
 'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV',
 'arquivos sas/',
 'arquivos sas/pense_amostra2_aluno.sas7bdat',
 'arquivos sas/pense_amostra2_alunoescola.sas7bdat',
 'arquivos sas/pense_amostra2_escola.sas7bdat',
 'arquivos xlsx/',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx',
 'Dicionario_PENSE_Microdados_AMOSTRA2.xls']

In [25]:
#Selecionando um tipo de dado

dados.select_dtypes(include="object")

#Repare que não há um tipo object

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[16556 rows x 0 columns]

In [26]:
#Selecionando um tipo de dado

dados.select_dtypes(include="float64")

       TEMPODESLOC  TEMPOTOTAL  TEMPOEDFIS  ...  VB17003  VB17004        PESO
0              0.0        15.0         0.0  ...     37.1    157.0  299.735235
1            120.0       510.0       260.0  ...     50.2    152.0  355.170081
2              0.0       585.0       130.0  ...     48.2    161.4  299.735235
3              0.0         0.0         0.0  ...     69.4    172.5  355.170081
4             30.0       165.0        90.0  ...     78.9    167.5  299.735235
...            ...         ...         ...  ...      ...      ...         ...
16551         30.0       400.0       110.0  ...     56.7    167.9  447.815539
16552         20.0       800.0       325.0  ...     61.9    185.8  592.507440
16553          0.0         0.0         0.0  ...     60.9    159.4  401.131512
16554         75.0       215.0        35.0  ...     47.3    157.8  442.718091
16555         50.0       485.0       110.0  ...     62.6    163.9  592.507440

[16556 rows x 10 columns]

In [27]:
#Selecionando um tipo de dado

dados.select_dtypes(include="integer")

#Repare que são a maioria

       ANOPESQ  PAIS  REGEOGR  VB00004  ...  V0041  aluno  escola  turma
0         2015    76        1        1  ...      1      1       1    296
1         2015    76        1        1  ...      1      2       1    296
2         2015    76        1        1  ...      1      3       1    296
3         2015    76        1        1  ...      1      4       1    296
4         2015    76        1        1  ...      1      5       1    296
...        ...   ...      ...      ...  ...    ...    ...     ...    ...
16551     2015    76        5        1  ...      1  16552     371    117
16552     2015    76        5        1  ...      1  16553     371    117
16553     2015    76        5        1  ...      1  16554     371    117
16554     2015    76        5        1  ...      1  16555     371    117
16555     2015    76        5        1  ...      1  16556     371    117

[16556 rows x 171 columns]

# AULA 02 MOD 03
-Dados qualitativos e tabelas de frequência

In [28]:
#Qual a distribuição da pesquisa entre meninos e meninas
#Podemos fazer isso utilizando o value counts
#VB01001 está no dicionário como pergunta em relação ao sexo da pessoa

dados["VB01001"].value_counts()

1    8287
2    8269
Name: VB01001, dtype: int64

In [29]:
#transformando essa resposta em porcentagem com normalize
#fazemos * 100 para ser porcentagem

dados["VB01001"].value_counts(normalize = True) * 100

1    50.054361
2    49.945639
Name: VB01001, dtype: float64

In [30]:
#Pergunta sobre o quão o adolescente se sente confortável em relação ao corpo
#De 0 como muito instatisfeito a 5 como muito satisfeito

frequencia = dados["VB11007"].value_counts()
frequencia

2     6920
1     4608
4     2326
3     1807
5      714
99     181
Name: VB11007, dtype: int64

In [31]:
#Transformando em porcentagem

percentual = dados["VB11007"].value_counts(normalize = True) * 100
percentual

2     41.797536
1     27.832810
4     14.049287
3     10.914472
5      4.312636
99     1.093259
Name: VB11007, dtype: float64

In [32]:
#Criando um dataframe para unificar os dois dados

respostas = {
    1: "Muito satisfeito",
    2: "Satisfeito",
    3: "Indiferente",
    4: "Insatisfeito",
    5: "Muito instisfeito",
    99: "Não Informado"
}

dist_freq = pd.DataFrame({"Frequência": frequencia, "Percentual": percentual})
dist_freq.rename(index = respostas, inplace = True)  #renomeando o index para ser igual as respostas
dist_freq.rename_axis("Sentimento em relação ao corpo", axis = 1, inplace = True)  #Trocar o nome do eixo
dist_freq

Sentimento em relação ao corpo  Frequência  Percentual
Satisfeito                            6920   41.797536
Muito satisfeito                      4608   27.832810
Insatisfeito                          2326   14.049287
Indiferente                           1807   10.914472
Muito instisfeito                      714    4.312636
Não Informado                          181    1.093259

# AULA 03 MOD 03
-Frequência em dados contínuos e panda CrossTab

In [33]:
#Relação de altura dos estudantes
dados["VB17004"]

#repare como não temos classes pré definidas

0        157.0
1        152.0
2        161.4
3        172.5
4        167.5
         ...
16551    167.9
16552    185.8
16553    159.4
16554    157.8
16555    163.9
Name: VB17004, Length: 16556, dtype: float64

In [34]:
#Criar uma coluna no dataframe chamada IMC
#Peso sobre o quadrado da altura
#Dividimos a altura em 100 pois o IMC utiliza metros e o dado está em cm

dados["IMC"] = dados["VB17003"] / ((dados["VB17004"]/100)**2)
dados["IMC"]

0        15.051321
1        21.727839
2        18.502907
3        23.322831
4        28.122076
           ...
16551    20.113223
16552    17.930782
16553    23.968489
16554    18.995343
16555    23.303246
Name: IMC, Length: 16556, dtype: float64

In [39]:
#Classes do imc
#Ex. do 0 ao 18,5, de 18,5 até 25...
#Utilizamos a função cut do pandas para criar a classificação

classes = [0, 18.5, 25, 30, 60]
labels = ["abaixo", "normal", "sobrepeso", "obesidade"]
dados["CLASSE_IMC"] = pd.cut(x = dados["IMC"],
                            bins = classes,
                            labels = labels,
                            include_lowest = True)   #considera o mais baixo como intervalo fechado e o mais alto como aberto

dados[["IMC", "CLASSE_IMC"]]

             IMC CLASSE_IMC
0      15.051321     abaixo
1      21.727839     normal
2      18.502907     normal
3      23.322831     normal
4      28.122076  sobrepeso
...          ...        ...
16551  20.113223     normal
16552  17.930782     abaixo
16553  23.968489     normal
16554  18.995343     normal
16555  23.303246     normal

[16556 rows x 2 columns]

In [40]:
frequencia = dados["CLASSE_IMC"].value_counts()
percentual = dados["CLASSE_IMC"].value_counts(normalize = True) * 100
dist_freq = pd.DataFrame({"Frequência": frequencia, "Percentual": percentual })
dist_freq

           Frequência  Percentual
normal           9188   55.496497
abaixo           4975   30.049529
sobrepeso        1760   10.630587
obesidade         633    3.823387

In [44]:
#Como podemos descobrir quantas classificações precisaremos quiando não temos essa informação?
#Por exemplo, quantas categorias tem o IMC (supondo que não sabemos isso)

#descobrindo o valor mínimo do conjunto altura
dados["VB17004"].min()

124.1

In [45]:
#descobrindo o valor máximo do conjunto altura
dados["VB17004"].max()

195.3

In [51]:
#Logo, nota-se que o conjunto vai de 124 a 195
#Uma dica é utilizar o número de classes proporcional ao tamanho da amostra
#Utiliza-se a fórmula de K a seguir
#Utilizamos o numpy para fazer o log de 10
#Utilizamos o int() para aredondar o número da fórmula

import numpy as np

tamanho_amostra = len(dados)

k = int((1 + ((10/3)*np.log10(tamanho_amostra))))
k

dados["CLASSE_ALTURA"] = pd.cut(x = dados["VB17004"],
                            bins = k,
                            include_lowest = True)

frequencia = dados["CLASSE_ALTURA"].value_counts()
percentual = dados["CLASSE_ALTURA"].value_counts(normalize = True) * 100
dist_freq_altura = pd.DataFrame({"Frequência": frequencia, "Percentual": percentual })
dist_freq_altura

                               Frequência  Percentual
(157.327, 162.073]                   3110   18.784731
(152.58, 157.327]                    2734   16.513651
(162.073, 166.82]                    2550   15.402271
(166.82, 171.567]                    2063   12.460739
(147.833, 152.58]                    1782   10.763469
(171.567, 176.313]                   1416    8.552791
(143.087, 147.833]                   1012    6.112588
(176.313, 181.06]                     749    4.524040
(138.34, 143.087]                     484    2.923411
(181.06, 185.807]                     300    1.812032
(133.593, 138.34]                     199    1.201981
(185.807, 190.553]                     94    0.567770
(128.847, 133.593]                     47    0.283885
(190.553, 195.3]                       13    0.078521
(124.02799999999999, 128.847]           3    0.018120

In [60]:
#Se quisermos saber se há diferenças entre a aceitação do corpo entre homens e mulheres, cruzamos as tabelas
#Utilizamos o crosstab() do pandas

frequencia_cruzada = pd.crosstab(dados["VB11007"], dados["VB01001"], normalize = True) * 100
frequencia_cruzada.rename(index = respostas, inplace = True)
frequencia_cruzada.rename(columns = {1: "Masculino", 2: "Feminino"}, inplace = True)
frequencia_cruzada

VB01001            Masculino   Feminino
VB11007
Muito satisfeito   16.199565  11.633245
Satisfeito         21.079971  20.717565
Indiferente         5.738101   5.176371
Insatisfeito        4.747524   9.301764
Muito instisfeito   1.570428   2.742208
Não Informado       0.718773   0.374487

In [61]:
#Desta vez, faremos a normalização em relação as colunas

frequencia_cruzada = pd.crosstab(dados["VB11007"], dados["VB01001"], normalize = "columns") * 100
frequencia_cruzada.rename(index = respostas, inplace = True)
frequencia_cruzada.rename(columns = {1: "Masculino", 2: "Feminino"}, inplace = True)
frequencia_cruzada

VB01001            Masculino   Feminino
VB11007
Muito satisfeito   32.363944  23.291813
Satisfeito         42.114155  41.480227
Indiferente        11.463738  10.364010
Insatisfeito        9.484735  18.623776
Muito instisfeito   3.137444   5.490386
Não Informado       1.435984   0.749788

In [63]:
#Também é possível normalizar pelo index

frequencia_cruzada = pd.crosstab(dados["VB11007"], dados["VB01001"], normalize = "index") * 100
frequencia_cruzada.rename(index = respostas, inplace = True)
frequencia_cruzada.rename(columns = {1: "Masculino", 2: "Feminino"}, inplace = True)
frequencia_cruzada

#Neste caso, respondemos por ex, dos que estão satisfeitos, qual % é masculina e qual % é feminina (a linha soma 100¨%)

VB01001            Masculino   Feminino
VB11007
Muito satisfeito   58.203125  41.796875
Satisfeito         50.433526  49.566474
Indiferente        52.573326  47.426674
Insatisfeito       33.791917  66.208083
Muito instisfeito  36.414566  63.585434
Não Informado      65.745856  34.254144