In [5]:
import pandas as pd

caminho_2019 = "../dados/obitos-2019.csv"
caminho_2020 = "../dados/obitos-2020.csv"

dados_2019 = pd.read_csv(caminho_2019)
dados_2020 = pd.read_csv(caminho_2020)

print(f"2019 {dados_2019.shape}")
print(f"2020 {dados_2020.shape}")

2019 (12385, 6)
2020 (14921, 6)

In [6]:
dados_2019.head()

   uf tipo_doenca local_obito faixa_etaria sexo  total
0  AC      OUTRAS   DOMICILIO          < 9    F      7
1  AC      OUTRAS   DOMICILIO          < 9    M     15
2  AC      OUTRAS    HOSPITAL          < 9    F     30
3  AC      OUTRAS    HOSPITAL          < 9    M     55
4  AC      OUTRAS    IGNORADO          < 9    M      1

In [8]:
dados_2020.sample(5)

       uf tipo_doenca            local_obito faixa_etaria sexo  total
9951   SE   PNEUMONIA              DOMICILIO      70 - 79    F      5
12788  RJ        SRAG                  OUTRO      90 - 99    F      1
10450  DF      OUTRAS            VIA_PUBLICA      80 - 89    M      1
3957   AC   PNEUMONIA  OUTROS_SERVICOS_SAUDE      40 - 49    F      1
8781   CE        SRAG               IGNORADO      70 - 79    M     17

In [10]:
#Verificando quantos elementos uf temos na lista

len(dados_2019["uf"].unique())

27

In [11]:
#Verificando os tipos de doen√ßa

dados_2020["tipo_doenca"].unique()

array(['OUTRAS', 'COVID', 'INDETERMINADA', 'INSUFICIENCIA_RESPIRATORIA',
       'PNEUMONIA', 'SEPTICEMIA', 'SRAG'], dtype=object)

In [12]:
#Vendo o total por doenca em 2019

dados_2019["tipo_doenca"].value_counts()

OUTRAS                        3847
PNEUMONIA                     2353
INSUFICIENCIA_RESPIRATORIA    2324
SEPTICEMIA                    2065
INDETERMINADA                 1308
SRAG                           487
COVID                            1
Name: tipo_doenca, dtype: int64

In [13]:
#Vendo o total por doenca em 2020

dados_2020["tipo_doenca"].value_counts()

OUTRAS                        3801
INSUFICIENCIA_RESPIRATORIA    2334
PNEUMONIA                     2214
COVID                         2112
SEPTICEMIA                    2031
INDETERMINADA                 1347
SRAG                          1082
Name: tipo_doenca, dtype: int64